<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4">
      <p><img src="assets/team/Chris400.jpg" class="img-circle team"/></p>
      <p class="lead "><strong>Back End Developer</strong></p>
      <p>A former player in the financial field, Chris is happy to bring his analytical mind to Back End development. With a natural entrepreneurial spirit, Chris brings enthusiasm and new perspective to the Crave team. Chris specializes in Ruby on Rails and singing a random song when the time is just right.</p>
    </div>
    <div class="col-sm-4">
      <p><img src="assets/team/Ashley400.jpg" class="img-circle team"/></p>
      <p class="lead"><strong>Front End Developer</strong></p>
      <p>A born and raised Alabamian, Ashley's design is like her southern roots...elegant and simple. Exploring the finer sides of Front End development and UX design, Ashley pushes through design iterations until she's found the right one. Ashley specializes in HTML/CSS3, Bootstrap, D3, and resisting any form of finger guns.</p>
    </div>
    <div class="col-sm-4">
      <p><img src="assets/team/Josh400.jpg" class="img-circle team"/></p>
      <p class="lead"><strong>Back End Developer</strong></p>
      <p>No stranger to the development field, Josh brings solid UX experience to the team. He's quick to dive into complex code and even quicker to pull out the finger guns after successfully wrangling Back End problems. Josh's specializes in Ruby on Rails and slow dancing.</p>
    </div>
  </div>
</div>