<section class="module parallax parallax-1">
  <div class="container">
    <h1></h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Hello</h2>
    <p>Hello world...</p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1></h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Hello</h2>
    <p>Hello world...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1></h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Hello</h2>
    <p>Hello world...</p>
  </div>
</section>

