<section class="module parallax parallax-1">
  <div class="container-fluid">
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="row text-center">
      <h2>How It Works</h2>
    </div>
    <div class="row">
      <div class="col-md-4 text-center column-padding">
        <img src="http://i.imgur.com/Z6S5s2Q.png" class="home-icon"/>
        <p class="lead">Sometimes it's hard to know what you need until you see it. Enter Crave -- A new way to find the best deals. You'll have 20 seconds to either buy or pass on items as they come up on your screen. Use your time wisely.</p>
      </div>
      <div class="col-md-4 text-center column-padding">
        <img src="http://i.imgur.com/xNK5emp.png" class="home-icon"/>
        <p class="lead">We made sure to make your Crave experience easy. Slide left to Pass on an item or slide right to Buy. You can view all of your past purchases on the My Purchase page.</p>
      </div>
      <div class="col-md-4 text-center column-padding">
        <img src="http://i.imgur.com/xxfYqmA.png" class="home-icon"/>
        <p class="lead">If you get tired of shopping, then feel free to check out the most popular purchases at the bottom of this page. Each "bubble" changes dynamically as users purchase or decline items.</p>
      </div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container-fluid">
    <div class="row">
      <div id="top-products" class="text-center">
        <h2>Top Products</h2>
        <h4>(based on % purchased)</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center"> 
        <div id="status"></div>
      </div>
    </div>
    <div id="main" role="main" class="row">
      <div class="col-xs-12">
        <div id="vis"></div>
      </div>
    </div>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="text-center">
      <%= link_to "Get started!", signup_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</section>

<!-- <section class="module parallax parallax-3">
  <div class="container-fluid">
    <h1></h1>
  </div>
</section>

<section class="module content">
  <div class="container-fluid">
    <h2>Hello</h2>
    <p>Hello world...</p>
  </div>
</section> -->





