body {
  margin-top: 69px;
}

.jumbotron {
  background-color: transparent;
  padding-top: 15px;
}

.sale-price {
  color: #E87845;
}

.navbar-fixed-top {
  padding-right: 15px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img.team {
  width: 75%;
  border: 2px #2BBBAC solid;
}

.text-input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
}

.well.form {
  margin: 50px auto;
  h2 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.add-margin-top {
  margin-top: 25px;
}
