body {
  margin-top: 69px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222B37;
}

.product-name {
  font-family: "Roboto", sans-serif;
  color: #222B37;
}

.jumbotron {
  background-color: transparent;
  padding-top: 15px;
}

.sale-price {
  color: #D9662F;
}

.navbar-fixed-top {
  padding-right: 15px;
}

.crave-font {
  font-family: 'Righteous', cursive;
}

.page-title {
  font-size: 80px;
  margin-left: 20px;
  margin-top: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

img.team {
  width: 75%;
  border: 2px #2BBBAC solid;
}

.gravatar {
  border: 3px #2BBBAC solid;
  width: 30%;
}

.text-input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 5px;
}

.well.form {
  margin: 50px auto;
  h2 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.add-margin-top {
  margin-top: 25px;
}

